name: Convert token sheets to JSON

on:
  push:
    branches: [ "main" ]

jobs:
  converter:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sheets
        uses: actions/checkout@v4
      - name: Run converter for 8X.xml
        run: |
          import os
          impot shutil
          import sys
          
          module_path = os.path.abspath(os.getcwd())
          if module_path not in sys.path:
            sys.path.append(module_path)

          import json
          import xml.etree.ElementTree as ET
          from scripts.formats import *

          os.mkdir("built")
          shutil.copyfile("8X.xml", "built/8X.xml")
          
          with open("8X.xml", encoding="UTF-8") as infile:
            with open("built/8X.json", "w+", encoding="UTF-8") as outfile:
              json.dump(to_json(ET.fromstring(infile.read())), outfile, indent=2, ensure_ascii=False)
        shell: python
      - name: Save to built branch
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: built
          FOLDER: built
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MESSAGE: "Build from {sha}: {msg}"
