name: Convert token sheets to JSON

on:
  push:
    branches: [ "main" ]

jobs:
  converter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sheets
        uses: actions/checkout@v3
      - name: Run converter for 8X.xml
        uses: fabasoad/data-format-converter-action@main
        id: xml-to-json
        with:
          input: "8X.xml"
          from: "xml"
          to: "json"
      - run: echo '${{ steps.xml-to-json.outputs.output }}' > 8X.json
      - name: Save results
        uses: test-room-7/action-update-file@v1
        with:
            file-path: 8X.json
            commit-msg: Generate JSON files
            github-token: ${{ secrets.GITHUB_TOKEN }}
