name: Convert token sheets to JSON

on:
  push:
    branches: [ "main" ]

jobs:
  converter:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sheets
        uses: actions/checkout@v4
      - name: Run converter for 8X.xml
        run: |
          import os
          import sys
          module_path = os.path.abspath(os.getcwd())
          if module_path not in sys.path:
            sys.path.append(module_path)

          import json
          import xml.etree.ElementTree as ET
          from scripts.formats import *
          with open("8X.xml", encoding="UTF-8") as infile:
            with open("8X.json", encoding="UTF-8") as outfile:
              json.dump(to_json(ET.fromstring(infile.read())), outfile, indent=2)
        shell: python
      - name: Save results
        uses: test-room-7/action-update-file@v1
        with:
            file-path: 8X.json
            commit-msg: Generate JSON files
            github-token: ${{ secrets.GITHUB_TOKEN }}
