name: Publish docs

on:
  push:
    branches: [ "main" ]
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout lib with submodules
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Build site
        run: |
          pip install mkdocs
          pip install mkdocstrings-python
          mkdocs build
      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: site/

  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@v2
